<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register Successed- SuperFrog Scheduler</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/css/fcicons.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/Features-Boxed.css">
    <link rel="stylesheet" href="/css/fullcalendar/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="bg-gradient-primary" style="background: var(--purple);">
<div class="container">
    <div>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex justify-content-center"><img class="d-lg-flex"
                                                                                   src="/img/superfrog/superfrog.jpg">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">You have signed up successfully</h4>
                        </div>
                        <div class="text-center"><a class="small" th:href="@{/login}">Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/fullcalendar/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>