<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Manage Customers - SuperFrog Scheduler</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/css/fcicons.css">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/Features-Boxed.css">
    <link rel="stylesheet" href="/css/fullcalendar/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start visible sidebar sidebar-dark accordion bg-gradient-primary p-0"
         id="nav-bar" style="background: var(--purple);">
        <div class="container-fluid d-flex flex-column p-0"><a
                class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon"><i class="fas fa-frog"></i></div>
        </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" th:href="@{/}"><i class="fa fa-home"></i><span>Home</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/calendar}"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
                <li sec:authorize="hasAuthority('SPIRITDIRECTOR')" class="nav-item active"><a class="nav-link" th:href="@{/spiritdirectortable}"><i class="fas fa-table"></i><span>Table</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}"><i class="far fa-user-circle"></i><span>Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{tcuevent}"><i class="fas fa-user-circle"></i><span>Tcu Event</span></a></li>
                <li class="nav-item"></li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="margin-right: 5px;">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i
                            class="fas fa-bars"></i></button>
                    <ul class="navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                                                            aria-expanded="false" data-toggle="dropdown"
                                                                            href="#"><i class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small"
                                                                    type="text" placeholder="Search for ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="button"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">
                                    <span class="d-none d-lg-inline mr-2 text-gray-600 small" th:text="${currentUser.getFirstName() + ' ' + currentUser.getLastName()}"></span>
                                    <img class="border rounded-circle img-profile" src="/img/profilepicture.png"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                    <a class="dropdown-item" th:href="@{/profile}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Profile</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" th:href="@{/login}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">

<!--                Customer Table-->
                <h3 class="text-dark mb-4" style="color: var(--purple);">Customer Information</h3>
<!--                <form th:action="@{/spiritdirectortable/export}" method="post">-->
<!--                    <button class="btn btn-primary btn-block text-white btn-user" type="submit" style="background: var(&#45;&#45;purple);">Export To Excel</button>-->
<!--                </form>-->

                <a th:href="@{/spiritdirectortable/export}">Export to Excel</a>
                <br/>
                <br/>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info" style="font-size: 18px;">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th class="text-center">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="customer: ${customers}">
                                        <td th:text="${customer.getId()}"></td>
                                        <td th:text="${customer.getFirstName() + ' ' + customer.getLastName()}"></td>
                                        <td th:text="${customer.getEmail()}"></td>
                                        <td th:text="${customer.getPhoneNumber()}"></td>
                                        <td th:text="${customer.getIsActive() ? 'Active' : 'Inactive'}"></td>
                                        <td class="text-center d-lg-flex justify-content-lg-center">
                                            <button class="btn btn-primary" type="button"
                                                    style="margin-left: 0px;margin-right: 5px;"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#customerEditModal' + customer.getId()}"
                                                    data-row="${customer}">Edit
                                            </button>
                                            <a th:href="@{/spiritdirectortable/toggleActiveStatus/__${customer.getId()}__}">
                                                <button class="btn btn-primary" type="button"
                                                        th:text="${customer.getIsActive() ? 'Deactivate' : 'Activate'}"
                                                        th:style="${customer.getIsActive() ?
                                                        'background: var(--red); margin-right: 5px; width: 105px;' :
                                                        'background: var(--green); margin-right: 5px; width: 105px;'}">
                                                </button>
                                            </a>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong>ID</strong></td>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Email</strong></td>
                                        <td><strong>Phone</strong></td>
                                        <td><strong>Status</strong></td>
                                        <td class="text-center"><strong>Operation</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <hr/>

<!--                SuperFrog Container-->
                <h3 class="text-dark mb-4" style="color: var(--purple); padding-top: 20px;">SuperFrog Information</h3>

<!--                Add SuperFrog Form-->
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 18px;">Add a new SuperFrog here:</h4>
                        <div class="row">
                            <form method="post" class="d-lg-flex justify-content-lg-center" th:action="@{/spiritdirectortable/addSuperFrog}" th:object="${newSuperFrog}">
                                <div class="col">
                                    <input required class="form-control" th:field="*{firstName}" type="text" placeholder="First Name" style="margin-left: 5px;">
                                </div>
                                <div class="col">
                                    <input required class="form-control" th:field="*{lastName}" type="text" placeholder="Last Name" style="margin-left: 5px;">
                                </div>
                                <div class="col">
                                    <input required class="form-control" th:field="*{email}" name="email" type="text" placeholder="Email" style="margin-left: 5px;">
                                </div>
                                <div class="col">
                                    <input required class="form-control" th:field="*{phoneNumber}" type="text" placeholder="Phone Number" style="margin-left: 5px;">
                                </div>
                                <button id="btn_add" class="btn btn-primary" type="submit"
                                        style="margin-left: 5px;background: rgb(68,180,50);">Add
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

<!--                SuperFrog Table-->
                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                             aria-describedby="dataTable_info" style="font-size: 18px;">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th class="text-center">Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="superfrog: ${superfrogs}">
                                    <td th:text="${superfrog.getId()}"></td>
                                    <td th:text="${superfrog.getFirstName() + ' ' + superfrog.getLastName()}"></td>
                                    <td th:text="${superfrog.getEmail()}"></td>
                                    <td th:text="${superfrog.getPhoneNumber()}"></td>
                                    <td th:text="${superfrog.getIsActive() ? 'Active' : 'Inactive'}"></td>
                                    <td class="text-center d-lg-flex justify-content-lg-center">
                                        <button class="btn btn-primary" type="button"
                                                style="margin-left: 0px;margin-right: 5px;"
                                                data-toggle="modal"
                                                th:attr="data-target=${'#superFrogEditModal' + superfrog.getId()}"
                                                data-row="${superfrog}">Edit
                                        </button>
                                        <a th:href="@{/spiritdirectortable/toggleActiveStatus/__${superfrog.getId()}__}">
                                            <button class="btn btn-primary" type="button"
                                                    th:text="${superfrog.getIsActive() ? 'Deactivate' : 'Activate'}"
                                                    th:style="${superfrog.getIsActive() ?
                                                        'background: var(--red); margin-right: 5px; width: 105px;' :
                                                        'background: var(--green); margin-right: 5px; width: 105px;'}">
                                            </button>
                                        </a>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td><strong>ID</strong></td>
                                    <td><strong>Name</strong></td>
                                    <td><strong>Email</strong></td>
                                    <td><strong>Phone</strong></td>
                                    <td><strong>Status</strong></td>
                                    <td class="text-center"><strong>Operation</strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        Edit Customer Modal-->
        <div role="dialog" tabindex="-1"
             class="modal show"
             id="edit-customer-modal"
             style="max-width: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);"
             th:each="customer: ${customers}" th:attr="id=${'customerEditModal' + customer.getId()}">
            <div role="document">
                <div class="modal-content">
                    <div class="modal-header d-lg-flex">
                        <h4 class="modal-title d-lg-flex">Edit Customer</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/spiritdirectortable/edit}" th:object="${editUser}">
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">ID: </label>
                                    <input th:name="id" th:value="${customer.getId()}" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">First Name</label>
                                    <input th:name="firstName" th:value="${editUser.firstName != null} ? ${editUser.firstName} : ${customer.getFirstName()}" type="text" class="form-control" style="padding-top: 0px;" />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">Last Name</label>
                                    <input th:name="lastName" th:value="${editUser.lastName != null} ? ${editUser.lastName} : ${customer.getLastName()}" type="text" class="form-control" style="padding-top: 0px;" />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">Email</label>
                                    <input th:name="email" th:value="${editUser.email != null} ? ${editUser.email} : ${customer.getEmail()}" type="text" class="form-control" style="padding-top: 0px;" />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">Phone</label>
                                    <input th:name="phoneNumber" th:value="${editUser.phoneNumber != null} ? ${editUser.phoneNumber} : ${customer.getPhoneNumber()}" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" style="background: var(--purple);">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<!--        Edit SuperFrog Modal-->
        <div role="dialog" tabindex="-1"
             class="modal show"
             style="max-width: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);"
             th:each="superfrog: ${superfrogs}" th:attr="id=${'superFrogEditModal' + superfrog.getId()}">
            <div role="document">
                <div class="modal-content">
                    <div class="modal-header d-lg-flex">
                        <h4 class="modal-title d-lg-flex">Edit SuperFrog</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/spiritdirectortable/edit}" th:object="${editUser}">
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">ID: </label>
                                    <input th:name="id" th:value="${superfrog.getId()}" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">First Name</label>
                                    <input th:name="firstName" th:value="${editUser.firstName != null} ? ${editUser.firstName} : ${superfrog.getFirstName()}" type="text" class="form-control" style="padding-top: 0px;" />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">Last Name</label>
                                    <input th:name="lastName" th:value="${editUser.lastName != null} ? ${editUser.lastName} : ${superfrog.getLastName()}" type="text" class="form-control" style="padding-top: 0px;" />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">Email</label>
                                    <input th:name="email" th:value="${editUser.email != null} ? ${editUser.email} : ${superfrog.getEmail()}" type="text" class="form-control" style="padding-top: 0px;" />
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom: 10px;">
                                <div class="col">
                                    <label style="font-weight: bold;">Phone</label>
                                    <input th:name="phoneNumber" th:value="${editUser.phoneNumber != null} ? ${editUser.phoneNumber} : ${superfrog.getPhoneNumber()}" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" style="background: var(--purple);">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<!--        Footer-->
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/fullcalendar/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/js/theme.js"></script>
<script>

</script>
</body>

</html>